.card-container {
    display: flex;
    flex-direction: column;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .active-card {
    margin-bottom: 20px; /* Behåll samma avstånd som andra kort */
  }
  
  .stacked-card {
    margin-bottom: 10px; /* Mindre avstånd för staplade kort */
  }