body{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.header{
    color: black;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.newcard{
    color: grey;
    font-size: small;
}

.cardtop {
  position: relative;
  width: 400px;
  height: 250px;
  background-color: lightgrey;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.bitcoin {
  height: 50px;
}

.card-number {
  font-size: 20px;
  margin-bottom: 10px;
  color: black;
}

.cardholder-info {
  display: flex;
  justify-content: space-between;
  color: black;
}

.cardholder-name,
.valid-thru {
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
}

.bitcoindesign {
  background-color: orange;
}

.blockchain {
  background-color: purple;
}

.evil {
  background-color: red;
}

.ninja {
  background-color: rgb(65, 58, 58);
}

.card.active {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-container {
  display: flex;
  flex-direction: column;
}

.card {
  position: relative; 
  margin-bottom: 20px;
}

.remove-button {
  position: absolute; 
  top: 10px; 
  right: 10px; 
}

.active-card {
  margin-bottom: 10px; 

}

.inactive{
 margin-bottom: -150px;
}

.add-card-button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 20px;
}

.form-Card {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type='text'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button[type='submit'] {
  display: block;
  width: 100%;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

option {
  font-size: 16px;
}
