body{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.header{
    color: black;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.newcard{
    color: grey;
    font-size: small;
}

.form{
    display: grid;
    padding: 10px;
}

.cardtop{
    background-color: grey;
    border-radius: 4%;
}