body{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.header{
    color: black;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.newcard{
    color: grey;
    font-size: small;
}

.cardtop {
  position: relative;
  width: 400px;
  height: 250px;
  background-color: lightgrey;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.bitcoin {
  height: 50px;
}

.card-number {
  font-size: 20px;
  margin-bottom: 10px;
  color: black;
}

.cardholder-info {
  display: flex;
  justify-content: space-between;
  color: black;
}

.cardholder-name,
.valid-thru {
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
}

.bitcoindesign {
  background-color: orange;
}

.blockchain {
  background-color: purple;
}

.evil {
  background-color: red;
}

.ninja {
  background-color: rgb(65, 58, 58);
}

.card.active {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
