.cardtop {
    position: relative;
    width: 400px;
    height: 250px;
    background-color:lightgrey;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
  
  .logo-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .bitcoin {
    height: 50px;
  }
  
  .card-info {
    /* padding: 20px; */
  }
  
  .card-number {
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
  }
  
  .cardholder-info {
    display: flex;
    justify-content: space-between;
    color: black;

  }
  
  .cardholder-name,
  .valid-thru {
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
  }

/* Design 1 */
.cardtop.design1 {
  background-color: orange;
}

.bitcoindesign {
  background-color: yellow; /* Lägg till dina specifika stilar för designen "bitcoin" */
}

.card.active {
  transform: translateY(-10px); /* Flytta det aktiva kortet uppåt */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Lägg till en skugga för att markera det aktiva kortet */
}